/**
 * @author supunmadhuranga
 * @created 2025-05-10
 * @project vite1
 */

.main-content {
    background-color: #4c2222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff7e5f;
    height: 90vh;
    text-align: center;


}
